<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Survey Form</title>
</head>
<body>
    <div id="main">
        <h1>Submitted Information</h1>
        <h2>Name: <%= name %></h2>
        <h2>Dojo Location: <%= location %></h2>
        <h2>Favorite Language: <%= lang %></h2>
        <h2>Comment: <%= comment %></h2>
        <br>
        <br>
        <input type="button" value="Go back" onclick="location.href='/';">
    </div>
    
</body>
</html>