form {
    width: 100%;
    margin:2px auto;
    padding: 10px;
    border: 2px solid;
}

.main{
    width: 400px;
    margin: 10px auto;
}

.green{
    background-color: forestgreen;
    align-items: center;
}