<fieldset>
    <legend>Power Component</legend>
    <Form>
      <h1>Initial Power Level: </h1>
      <input type="number" name="powerLevel" min='1' max='100' required [(ngModel)]='amount' (ngModelChange)='onChange()'>
      <button>Calculate Power</button>
    </Form>

<div id="top">
  <app-human-component class="blocks" [power]='amount'></app-human-component>
  <app-saiyan-component class="blocks" [power]='amount'></app-saiyan-component>
  <app-super-saiyan-component class="blocks" [power]='amount'></app-super-saiyan-component>
</div>
<div id="bottom">
    <app-super-saiyan-two-component class="blocks" [power]='amount'></app-super-saiyan-two-component>
    <app-super-saiyan-three-component class="blocks" [power]='amount'></app-super-saiyan-three-component>
    <app-super-saiyan-four-component class="blocks" [power]='amount'></app-super-saiyan-four-component>
</div>
</fieldset>





