<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Survey Form Revisited</title>
    <script type ="text/javascript">
        $(document). ready(function (){
           var socket  = io.connect();

           $('#epic').click(function (){
               socket.emit('click');
            });
            
            $('#reset').click(function (){
               socket.emit('reset');
            });

            socket.on('message', function(data) {
                $('#result').html('The button has been pushed ' + (data.count) + ' time(s)');
            });

       })
   </script>
</head>
<body>
    <h1 id="result">The button has been pushed <%= counter %> time(s)</h1> 
    <div class="main">
        <h3>Push the button to update the count!</h3>
        <button id="epic">Push the epic button</button>
        <br><br><br>
        <button id="reset">Reset</button>
    </div>
</body>
</html>