<div id="main">
  <form (submit)="onSubmit()">
    <h1>GitHub Score</h1>
    <div class="form-group">
      <label for="username">Github Username:</label>
      <input type="text" name="username" [(ngModel)]="user">
    </div>
    <button class="btn btn-primary">Calculate Github Score</button>
  </form>
  <div class = "score">
    <h1>Your Score: {{ dataService.score}}</h1>
    <h2 *ngIf='(dataService.score < 20)' style="color:red" class="center">Needs work!</h2>
    <h2 *ngIf='(dataService.score >= 20 && dataService.score < 50)' style="color:orange" class="center">A decent start!</h2>
    <h2 *ngIf='(dataService.score >= 50 && dataService.score < 100)' style="color:black" class="center">Doing good!</h2>
    <h2 *ngIf='(dataService.score >= 100 && dataService.score < 200)' style="color:green" class="center">Great job!</h2>
    <h2 *ngIf='(dataService.score >= 200)' style="color:blue" class="center">GitHub Elite!</h2>
  </div>
</div>

